<div class="container-fluid card card-body border border-warning border-5  rounded gap-3 p-3" >
  <div class="row d-flex justify-content-evenly gy-3 my-3 ">
    <div class="col-sm-6 col-md-4 col-lg-3 text-center mb-3">
      <div class="card  text-white back" >    
        <div class="card-body ">
          <h5 class="card-title" style="color:rgb(255, 165, 0);"><b>Leads</b></h5>
          <p class="card-text ">Lead management is a systematic process in which incoming leads are qualified, analyzed, and nurtured so that they can be converted into new business opportunities.</p>
          <a routerLink="#" class="btn btn-org">Goto</a>
        </div>
      </div>
    </div>
    

      <div class="col-sm-6 col-md-4 col-lg-3 text-center mb-3">
        <div class="card  text-white back" >        
          <div class="card-body">
            <h5 class="card-title" style="color:rgb(255, 165, 0);"><b>Campaign</b></h5>
            <p class="card-text">Campaign is a group of Leads and Contacts exposed to specific marketing communication(s). Salespeople can quickly see the customers and prospects that received marketing activity.</p>
            <a routerLink="#" class="btn btn-org">Goto</a>
          </div>
        </div>
      </div>
     
      <div class="col-sm-6 col-md-4 col-lg-3 text-center mb-3">  
        <div class="card  text-white back" >        
          <div class="card-body">
            <h5 class="card-title" style="color:rgb(255, 165, 0);"><b>Opportunities</b></h5>
            <p class="card-text">Opportunities are deals in progress. Opportunity records track details about deals, including which accounts they’re for, who the players are, and the amount of potential sales. </p>
            <a routerLink="#" class="btn btn-org">Goto</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-lg-3 text-center mb-3 ">
        <div class="card  text-white back" >
            
            <div class="card-body">
              <h5 class="card-title" style="color:rgb(255, 165, 0);"><b>Task</b></h5>
              <p class="card-text">Tasks are essentially just a to-do list inside of Salesforce. Sales teams use them as reminders to follow up with leads, send over proposals, or do anything else related to closing deals.</p>
              <a routerLink="#" class="btn btn-org">Goto</a>
            </div>
        </div>
      </div>
  </div>




 
