<section class="ftco-section  gap-3 p-3">
    <div class="container">

       <!--TABLE-->
          <div class="row-0">
            <div class="col-12">
                <div class="table-wrap d-flex justify-content-center align-content-center table-responsive">

                    <table class="table table-striped text-white " id="myTable">
                        <thead >
                            <tr  class="bg-secondary">
                                <th>First Name</th>
                                <th >Last Name</th>
                                
                                <th>Email</th>
                                
                                
                               
                                <th>Account Name</th>
                               

                            </tr>
                        </thead>
                        
                        <tbody>
                         
                            <tr >
                                <td>First Name</td>
                                <td >Last Name</td>
                                <td>Email</td>
                                <td>Account Name</td>
                               

                            </tr>
                        
                    </tbody>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>