
<div class="container">
    <div class="form-group row">
        <div class="col-4">
            
   
            
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Accountname</label>
                    <input  type="text"class="form-control"  name="accountname" placeholder="accountname"[(ngModel)]="accountname">
                    <!-- <small class="text-danger" *ngIf="userForm.get('AccountName')?.invalid && userForm.get('AccountName')?.touched" class="text-danger">*Account ID is required</small> -->
                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Typeofaccount</label>
                 
                  
                    <input  type="text"class="form-control" name="typeofaccount" placeholder="typeofaccount"[(ngModel)]="typeofaccount">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Emailid</label>
                    <input  type="text"class="form-control" name="emailid" placeholder="emailid"[(ngModel)]="emailid">
                  
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Accountphoneno</label>
                    <input  type="text"class="form-control" name="accountphoneno" placeholder="accountphoneno"[(ngModel)]="accountphoneno">
            
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Primarycontact</label>
                    <input  type="text"class="form-control" name="primarycontact" placeholder="primarycontact"[(ngModel)]="primarycontact">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label" >Jobsdescription</label>
                    <input  type="text" class="form-control"name="jobsdescription" placeholder="jobsdescription"[(ngModel)]="jobsdescription">
                </div>

           
        </div>  
        <div class="col-4">
          
   
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Statustype</label>
                    <input  type="text" class="form-control"name="statustype" placeholder="statustype"[(ngModel)]="statustype">
                    <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Type</label>
                    <select type="select"name="type" class="form-control" [(ngModel)]="type">
                        <option value="product">product</option>
                        <option value="service">service</option>
                       
                      </select>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Noofbranches</label>
                    <input  type="text" class="form-control"name="noofbranches" placeholder="noofbranches"[(ngModel)]="noofbranches">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Branchaddress</label>
                    <input  type="text" class="form-control" name="branchaddress"  placeholder="branchaddress"[(ngModel)]="branchaddress">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Noofemployees</label>
                    <input  type="text" class="form-control"name="noofemployees" placeholder="noofemployees"[(ngModel)]="noofemployees">
                </div>
                <!-- <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Account Status</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div> -->
                
                

         
        </div>
        <div class="col-4">
            
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Accountaddress</label>
                <input  type="text" class="form-control"name="accountaddress" placeholder="accountaddress"[(ngModel)]="accountaddress">
                  
            </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Linkedinurl</label>
                    <!-- <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> -->
                    <input  type="text"class="form-control" name="linkedinurl" placeholder="linkedinurl"[(ngModel)]="linkedinurl">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Companywebsite</label>
                    <input  type="text" class="form-control"name="companywebsite" placeholder="companywebsite"[(ngModel)]="companywebsite">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Accountowner</label>
                    <input  type="text" class="form-control" name="accountowner"  placeholder="accountowner"[(ngModel)]="accountowner">
       
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Accountstatus</label>
                    <input  type="text" class="form-control"name="accountstatus" placeholder="accountstatus"[(ngModel)]="accountstatus">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">insertiondate</label>
                    <input  type="date" class="form-control"name="insertiondate" placeholder="insertiondate"[(ngModel)]="insertiondate">
                </div>
               
               

           
        </div>  
        <button (click)="addaccounts()" *ngIf="account.accountid==0" class="btn btn-org">
            <b>Add</b>
          </button>
          <button (click)="updateaccounts()" *ngIf="account.accountid!=0" class="btn btn-org">    
            <b>Update</b>
          </button>
    </div>
    
</div>