<section class="ftco-section  gap-3 p-3">
    <div class="container">

       <!--TABLE-->
          <div class="row-0">
            <div class="col-12">
                <div class="table-wrap d-flex justify-content-center align-content-center table-responsive">

                    <table class="table table-striped text-white " id="myTable">
                        <thead >
                            <tr class="bg-secondary" >
                                <!-- style="background-color:rgb(20, 19, 19); " -->
                                <th>Opportunity Id</th>
                                <th >Name</th>
                                <th>Owner</th>
                                <th>Account Name</th>
                                
                                <th>Primary Contact</th>
                               
                                <th>Amount</th>
                                <th>Excepted Close Date </th>
                                <th>Priority Type</th>
                               

                            </tr>
                        </thead>
                        
                        <tbody>
                         
                            <tr >
                                <td>Opportunity Id</td>
                                <td >Name</td>
                                <td>Owner</td>
                                <td>Account Name</td>
                                <td>Primary Contact</td>
                                <td>Amount</td>
                                <td>Excepted Close Date</td>
                                <td>Priority Type</td>

                            </tr>
                        
                    </tbody>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>