<section class="ftco-section gap-3 p-3">
    <div class="container">
        
        
        <div class="row justify-content-center ">

            <div class="col-md-6 text-center  mb-1">
                <h2 class="heading-section" style="background-color: rgb(255, 165, 0);color: rgb(33, 26, 116);">ACCOUNTS DETAILS</h2>
            </div> 
        </div>
      

       
        <!--MODAL-->
        <div class="row ">
            <div class="col d-flex justify-content-end ">
                <!--CREATE-->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-fullscreen">
                        <div class="modal-content" >
                            <div class="modal-header" style="background-color: rgba(33, 26, 116, 0.755)">
                                <h1 class="modal-title fs-5 text-white" id="exampleModalLabel"  >Accounts</h1>
                                <button type="button"  class="btn btn-close  btn-close-white fs-5" data-bs-dismiss="modal"  aria-label="Close" (click)="closeClick()" id="add-edit-model-close" ></button>
                            </div>
                            <div class="modal-body">
                                <app-create-acc [account]="account" *ngIf="Activatesubmitacc"></app-create-acc>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                <button type="button" class="btn text-white me-3 " style="background-color: rgb(33, 26, 116)" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="addclick()">
                    <!--  --><b><i class="fa fa-plus"></i></b>
                </button>
            <!-- </div> -->
            <!--File upload-->
            <!-- <div class=" "> -->
                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: rgba(33, 26, 116, 0.755)">
                                <h1 class="modal-title text-white fs-5" id="exampleModalLabel1">File Upload</h1>
                                <button type="button" class="btn btn-close  btn-close-white fs-5" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <app-uploadacc></app-uploadacc>
                            </div>
                            <div class="modal-footer" style="background-color: rgba(33, 26, 116, 0.755)">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                               <input type="submit" class="btn btn-light"value="Save changes"/>
                              
                            </div>
                        </div>
                    </div>
                </div>
                
                <button type="button" class="btn text-white" data-bs-toggle="modal" data-bs-target="#exampleModal1" style="background-color: rgb(33, 26, 116)">
                    <!-- <b>File Upload</b> --><b><i class="fa fa-upload"></i></b>
                </button>
            </div>
        </div>

            
   
            
    
        <br>
        <div class="alert alert-success mt-3 " role="alert" id="add-success-alert">
            Added Successfully
            </div>
            
            <div class="alert alert-success mt-3" role="alert" id="update-success-alert">
              Updated Successfully
            </div>
            
            <div class="alert alert-success mt-3 " role="alert" id="delete-success-alert">
              Deleted Successfully
    </div>
    
       <!--TABLE-->
          <div class="row-0">
            <div class="col-12">
                <div class="table-wrap d-flex justify-content-center align-content-center ">
                    <div class="table-responsive">
                        <table class="table table-striped text-white " id="myTable">
                            <thead >
                                <tr   style="background-color:rgb(33, 26, 116)">
                                    <th>AccountId</th>
                                    <th >Account Name</th>
                                    <th>Account Type</th>
                                    <th>Email_Id</th>
                                    <th>Account PhNumber</th>
                                    <th>Primarycontact</th> 
                                    <th>Job Description</th>
                                    
                                    <th>Statustype</th>
                                    <th>Type</th>
                                
                                
                                    <th>Linkedin URL</th>
                                    <th>Company Website</th>
                                    <th>AccountStatus</th> 
                                    <th> Action</th>
                                    
                                
                                

                                </tr>
                            </thead>
                            
                        
                            <tbody style="color:black">
                            
                                    <tr *ngFor="let item of list">
                                        <td>{{item.accountid}}</td>
                                        <td>{{item.accountname}}</td>
                                        <td>{{item.typeofaccount}}</td>
                                        <td>{{item.emailid}}</td>
                                        <td>{{item.accountphoneno}}</td>
                                        <td>{{item.primarycontact}}</td>
                                        <td>{{item.jobsdescription}}</td>
                                        <td>{{item.statustype}}</td>
                                        <td>{{item.type}}</td>                                                                                                     
                                        <td>{{item.linkedinurl}}</td>
                                        <td>{{item.companywebsite}}</td>
                                    
                                        <td>{{item.accountstatus}}</td>
                                    
                                        <td>
                                            <button type="button"class="btn btn-light mr-1 me-3" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                            (click)="editclick(item)"
                                            data-backdrop="static" data-keyboard="false"id="btn">
                                                Edit
                                        </button>                                        
                                        </td>
    
                                    </tr> 
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>