<section class="ftco-section  gap-3 p-3">
    <div class="container">

       <!--TABLE-->
          <div class="row-0">
            <div class="col-12">
                <div class="table-wrap d-flex justify-content-center align-content-center table-responsive">

                    <table class="table table-striped text-white " id="myTable">
                        <thead >
                            <tr  class="bg-secondary">
                                <th>From</th>
                                <th >Job Title</th>
                                <th>Candidate Name</th>
                                <th>Mail Type </th>
                                <th>Mail Subject</th>
                                <th>Sent By</th>
                                <th>Sent Date</th>
                                <th>Recipient's</th>
                                <th>Action</th>
                                
                            </tr>
                        </thead>
                        
                        <tbody>
                         
                            <tr >
                                <td>From</td>
                                <td >Job Title</td>
                                <td>Candidate Name</td>
                                <td>Mail Type</td>
                                <td>Mail Subject</td>
                                <td>Sent By</td>
                                <td>Sent Date</td>
                                <td>Recipient's</td>
                                <td>Action</td>
                            </tr>
                        
                    </tbody>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>