<!-- <img src="../../assets/images/Academy_AdobeStock_269749690.jpeg" width="100px" height="100px" class="rounded-circle"alt="name" > -->

<div class="container-fluid card card-body border border-dark border-5  rounded">
    <div class="row d-flex justify-content-evenly gy-3 my-3 ">
      
      <!-- <div class="col-sm-6 col-md-4 col-lg-1 text-center mb-3 ">
  
        <div class="card bg-dark text-white rounded-circle" style="width: 8.5rem; height: 8.5rem;" >
                    
          <div class="card-body  " >
            <img src="../../assets/images/Academy_AdobeStock_269749690.jpeg" width="100px" height="100px" class="rounded-circle"alt="name" >
          </div>
    
        </div>
      </div> -->
      

        <div class="col-sm-12 col-md-10 col-lg-12  mb-3">
           
          <div class="card bg-light text-dark" >   
            <div class="card-body">
              <div class="hstack gap-2">
                <div class="card  text-white rounded-circle" style="width: 8.5rem; height: 8.5rem;" >
                    
                  <div class="card-body  " >
                    <img src="../../assets/images/Academy_AdobeStock_269749690.jpeg" width="100px" height="100px" class="rounded-circle"alt="name" >
                  </div>
            
                </div>
                <div class="vstack  mt-3 d-flex align-content-center justify-content-center">
                  <h5 class="card-title ">ACCOUNT NAME</h5>
                  <div class="badge bg-dark text-lg-center  fs-6 " style="width: 6rem; ">
                    Inactive
                  </div>
                </div>
                
                <!-- <p ><sup class="text-white bg-dark ">Inactive</sup></p> -->
                <div class="ms-auto"></div>
                <div class="vr"></div>
                <div class="vstack">
                  <small class="text-primary">website.com</small>
                  <small>Client</small>
                </div>
                <div class="vstack ">
                  <small style="color: grey;">Created by</small>
                  <small>Name</small>
                  <br>
                  <small style="color: grey;">Created On</small>
                  <small>Date</small>
                </div>
                <div class="vstack ">
                  <small style="color: grey;">Modified by</small>
                  <small>Name</small>
                </div>
              </div>
             
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-evenly gy-3 my-3 ">
          <div class="col mb-3">
           
            <div class="card bg-light text-dark" >   
              <div class="card-body">
                  <div class="hstack gap-3">
                    <div><img src="../../assets/images/Academy_AdobeStock_269749690.jpeg" width="50px" height="50px" class="rounded-circle"alt="name" ></div>
                    <div class="vstack gap-1">
                      <div><h6 class="nav-link" style="color: grey;">ACCOUNT OWNER</h6></div>
                      <div><h6>Owner Name</h6></div>
                    </div>             
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <nav class="navbar navbar-expand-lg bg-secondary rounded" >
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="nav navbar-dark nav-tabs">
                <li class="nav-item">
                  <a class="nav-link text-white" aria-current="page" href="Overview">Overview</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" routerLink="Info">Info</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" routerLink="ContactAcc">Contact(0)</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" routerLink="OpportunitiesAcc">Opportunities(0)</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" routerLink="LeadsAcc">Leads(0)</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" routerLink="CommunicationsAcc">Communications</a>
                </li>
               
              </ul>
            </div>
          </div>
        </nav>
        <br>
        <div class="card w-100">
          <div class="card-body">
            <router-outlet></router-outlet>
          </div>
        </div>
        
    </div>
   
  
  
   
  