<div class="container">
    <div class="form-group row  d-flex justify-content-center">
        <div class="col-8">
            <h2>Create Task</h2>
                            
            <label for="exampleInputTC" class="form-label"> Task Category </label>
            <select class="form-select" aria-label="Default select example1" [(ngModel)]="taskCategory">
                
                <option value="Module Specific Task Category">Module Specific Task Category</option>
            </select>
            
            <!--Select Module-->
            <div class="mb-3">
                <label for="exampleInputSM" class="form-label" > Select Module </label>
                <select class="form-select" aria-label="Default select example2" [(ngModel)]="selectModule">
                    
                    <option value="Calender">Calender</option>
                    <option value="Accounts">Accounts</option>
                    <option value="Contacts">Contacts</option>
                    <option value="Opportunities">Opportunities</option>
                    <option value="Critical">Leads</option>
                </select>
            </div>

            <!--Select name-->
            <div class="mb-3">
                <label for="exampleInputSN" class="form-label">Select Name</label>
                <input type="text" placeholder="SelectName" class="form-control"   [(ngModel)]="selectName">
            </div>
        </div>
        <hr>
        <div class="text-center">
            <h3>Module Specific Task Layout Details</h3>
        </div>
        <div class="col-4">  
            <div class="mb-3">
                <label for="exampleInputAI" class="form-label">Task ID</label>
                <input type="text" class="form-control " placeholder="Task ID"  [(ngModel)]="taskID">
            </div>

            <div class="mb-3">
                <label for="exampleInputD" class="form-label">Description</label>
                <textarea class="form-control" placeholder="Description"  rows="3" [(ngModel)]="description"></textarea>
            </div>
                                
            <!--Status-->
            <div class=" mb-3">
                <label for="exampleInputJD" class="form-label" >Status</label>
                <select class="form-select" aria-label="Default select example3" [(ngModel)]="status">
                    <option value="Assigned">Assigned</option>
                    <option value="Inprogress">Inprogress</option>
                    <option value="Closed">Closed</option>
                    <option value="On hold">On hold</option>
                    <option value="Deferred">Deferred</option>
                    <option value="Open">Open</option>
                    <option value="Cancelled">Cancelled</option>''
                </select>
            </div>
                          
            <!--Due Time-->
            <div class=" mb-3">
                <label for="exampleInputTC" class="form-label" > Due Time</label>
                <input type="time" class="form-control" [(ngModel)]="dueTime">
            </div>
                                
            <!--Remainder Time-->
            <div class=" mb-3"  >
                <label for="exampleInputTC" class="form-label" > Remainder Time</label>
                <input type="time" class="form-control" [(ngModel)]="reminderTime">
            </div>

            <div class="mb-3" >
                <label>Assign To</label>
                <select class="form-select" aria-label="Default select example4" [(ngModel)]="assignTo" >                            
                    <option value="Vinay Velivela">Vinay Velivela</option>                           
                    <option value="Srikanth Kota">Srikanth Kota</option>
                    <option value="Khaja Moinuddin">Khaja Moinuddin</option>
                </select>
            </div>   
        </div>
        <div class="col-4" >             
            <!--Tittle-->
            <div class=" mb-3">
                <label for="exampleInputT" class="form-label">Tittle</label>
                <input type="text" class="form-control " placeholder="Title"  [(ngModel)]="title">
            </div>
                                
            <!--Priority-->
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"> Priority </label>
                <select class="form-select" aria-label="Default select example5" [(ngModel)]="priority">
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                    <option value="Critical">Critical</option>
                </select>
            </div>
            <br>
            <br>
            <!--Due Date-->  
            <div class=" mb-3 ">
                <label for="exampleInputTC" class="form-label"> Due Date</label>
                <input type="date" class="form-control" [(ngModel)]="dueDate">
            </div>                               
            
            <!--Remainder Date-->
            <div class=" mb-3">
                <label for="exampleInputTC" class="form-label"> Remainder Date</label>   
                <input type="date" class="form-control" aria-label="Default select example6" [(ngModel)]="reminderDate">
            </div>

            <div class="mb-3 ">
                <label>Notify</label>
                <select class="form-select" aria-label="Default select example7" [(ngModel)]="notify" > 
                    <option value="Vinay Velivela">Vinay Velivela</option>
                    <option value="Srikanth Kota">Srikanth Kota</option>
                    <option value="Khaja Moinuddin">Khaja Moinuddin</option>
                </select>
            </div>     
               
        </div>
        <button (click)="addtasks()" *ngIf="task.taskID==0" class="btn btn-org">
            Add
        </button>
        <button (click)="updatetasks()" *ngIf="task.taskID!=0" class="btn btn-org">
            Update
        </button>
    </div>
</div>