<section class="ftco-section  gap-3 p-3">
    <div class="container">
        
        
        <div class="row justify-content-center ">

            <div class="col-md-6 text-center  mb-1">
                <h2 class="heading-section" style="background-color: rgb(255, 165, 0);color: rgb(33, 26, 116);">Contact Details</h2>
            </div> 
        </div>
        <!--MODAL-->
        <div class="row ">
            <div class="col d-flex justify-content-end">
                <!--CREATE-->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-fullscreen">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: rgba(33, 26, 116, 0.755)">
                                <h1 class="modal-title fs-5 text-white" id="exampleModalLabel"  >Contact</h1>
                                <button type="button"  class="btn   btn-close  btn-close-white fs-5" data-bs-dismiss="modal"  aria-label="Close" (click)="closeClick()" id="add-edit-model-close"></button>
                            </div>
                            <div class="modal-body">
                             <app-create-con [con]="con" *ngIf="ActivateAddEditCon"></app-create-con>  
                             

                            </div>
                           
                        </div>
                    </div>
                </div>
                
                <button type="button" class="btn text-white me-3" style="background-color: rgb(33, 26, 116)" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="addClick()">
                    <b><i class="fa fa-plus"></i></b>
                </button>
            <!-- </div> -->
            <!--File upload-->
            <!-- <div class="col-6 d-flex justify-content-end"> -->
                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: rgba(33, 26, 116, 0.755);">
                                <h1 class="modal-title fs-5" id="exampleModalLabel1">Modal title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <app-upload-con></app-upload-con>
                                <!-- <app-upload-contact></app-upload-contact> -->
                            </div>
                            <div class="modal-footer" style="background-color: rgba(33, 26, 116, 0.755);">
                                <button type="button" class="btn btn-light"  data-bs-dismiss="modal">Close</button>
                               <input type="submit" class="btn btn-light"value="Save changes"/>
                              
                            </div>
                        </div>
                    </div>
                </div>
                
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal1" style="background-color: rgb(33, 26, 116)">
                    <b><i class="fa fa-upload"></i></b>
                </button>
            </div>
        </div>
        <br>
        <div class="alert alert-success mt-3 " role="alert" id="add-success-alert">
            Added Successfully
            </div>
            
            <div class="alert alert-success mt-3" role="alert" id="update-success-alert">
              Updated Successfully
            </div>
            
            <div class="alert alert-success mt-3 " role="alert" id="delete-success-alert">
              Deleted Successfully
            </div>
       <!--TABLE-->
          <div class="row-0 ">
            <div class="col-12 ">
                <div class="table-wrap bg-light d-flex justify-content-center align-content-center ">
                    <div class="table-responsive">
                        <table class="table table-striped text-white ">
                            <thead >
                                <tr style="background-color:rgb(33, 26, 116)"  >
                                    
                                     <th>AccountName</th> 
                                    <th >PersonName</th>
                                    <th>Emailid</th>                               
                                     <th>Mobile</th>
                                     <th>Designation</th> 
                                    <th>WorkExperience</th>                                
                                    <th>ContactSource</th>
                                    <th>ContactType</th>                           
                                    <th>Linkedin</th>
                                     <th>Dateofcontacted</th>
                                     <th>Remarks</th> 
                                     <th>Edit Option</th>
                                </tr>
                            </thead>
                         <tbody style="color:black">                         
     
                           <tr *ngFor="let item of Contactlist">
                                       
                                         <td>{{item.accountname}}</td> 
                                        <td>{{item.personname}}</td>
                                        <td>{{item.emailid}}</td>
                                        <td>{{item.mobile}}</td>
                                        <td>{{item.designation}}</td>
                                        <td>{{item.workexperiance}}</td>
                                        <td>{{item.contactsource}}</td>
                                        <td>{{item.contacttype}}</td>                                                                                                                                        
                                        <td>{{item.linkedinurl}}</td>
                                        <td>{{item.dateofcontacted}}</td>                                  
                                        <td>{{item.remarks}}</td>
                                        <td>
                                            <button type="button"class="btn btn-light mr-1 me-3" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                            (click)="editClick(item)"
                                        >
                                                Edit
                                            </button>
                                            
                                        </td>
                                    </tr>                              
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>