
<form [formGroup]="userForm" >
    <section class="h-100 h-custom gradient-custom-2">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
              <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                <div class="card-body p-0">
                  <div class="row g-0">
                    <div class="col-lg-6">
                      <div class="p-5">
                        <h3 class="fw-normal mb-5" style="color: #0c0c0c;"><b>Verification</b></h3>
      
                        <div class="row g-4">
                            <div class="col-12">
                                <label>Username<span class="text-danger">*</span></label>
                                <div class="input-group">
                                    <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                    <input type="text" class="form-control" placeholder="Enter Username" formControlName="email">

                                    <span class="text-danger" *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched" class="text-danger">*Enter Email/Username </span>
                            
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-dark px-4 float-end mt-4">Verify Otp</button>
                            </div>
                        </div>
                        
      
                      </div>
                    </div>
                    <div class="col-lg-6  d-flex justify-content-center align-items-center bg-indigo text-white text-center pb-5">
                      
      
                        <div class="form-right">
                            <br>
                            <br>
                            <br>
                            <i class="fas fa-lock"></i>
                            
                            
                            
                            <h2 >Login CRM!!!</h2>
                        </div>
      
                      
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </form>